<div class="jumbotron">
    <div class="page-header">
        <h1>{{ 'welcome'|trans }} <em id="usernameLabel"></em></h1>
        <small>{{ 'rendered' | trans({'%date%':"now"|date("Y-m-d H:i:s")}) }}</small>
    </div>
</div>