{% extends "base.twig" %}
{% block title %}Private{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ 'private' | trans }} <small>{{ 'rendered' | trans({'%date%':"now"|date("Y-m-d H:i:s")}) }}</small></h1>
</div>
<p>{{ 'privatetext' | trans }}</p>
{% endblock %}